.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: var(--purp);
    cursor: pointer;
    @include def-anim;

    .text {
        font-size: 18px;
        line-height: normal;
        color: var(--bg);
        @include def-anim;
    }
    .icon {

    }

    &:hover {
        background-color: var(--purp_hover);
    }
}