.hero {

    &__in {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        width: 40%;

        &_title {
            margin-bottom: 30px;
            font-size: 36px;
            line-height: 43px;
            text-transform: uppercase;
        }

        &_text {
            font-size: 24px;
            line-height: 29px;
            color: #14142B;
            margin-bottom: 30px;
        }

        &_btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .button {
                padding: 10px 110px;
            }
        }
    }
    
    &__img {
        width: 60%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 1000px) {
    .hero {

        &__in {
            flex-wrap: wrap;
        }   

        &__body {
            width: 100%;
            order: 2;

            &_title {
                margin-bottom: 20px;
            }

            &_text {
                margin-bottom: 25px;
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__img {
            width: 100%;
            order: 1;
            margin-bottom: 30px;
        }
    }
}


@media (max-width: 550px) {

    .hero {

        &__in {
            padding: 25px 0;
        }

        &__body {

            &_title {
                margin-bottom: 30px;
                font-size: 30px;
                line-height: 36px;
            }

            &_text {
                margin-bottom: 10px;
            }

            &_btn {

                .button {
                    padding: 14px 110px;
                } 
            }
        }
    }
}